@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.d-none {
    display: none;
}

body {
    width: 100%;
    height: 100vh;
}

video {
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.3;
}

.parent-page {
    width: 100%;
    background-color: #151521;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    padding-bottom: 6rem;
    /* z-index: 999; */
}

.parent-page .main-panel {
    flex: 1;
    /* border: 1px solid white; */
    height: 100%;
    /* z-index: 999; */
}

.main-panel .upper-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    z-index: 999;
    /* border: 1px solid #fff; */
}

.upper-panel .mood-wlcm {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   margin-top: 3rem;
    
}

.upper-panel .mood-wlcm #one {
    font-size: 2rem;
    opacity: 0.7;
    margin-bottom: 0.5rem;
}

.upper-panel .mood-wlcm #two {
    font-weight: 600;
}

.upper-panel .mood-wlcm #three {
    font-size: 0.85rem;
    font-weight: 500;
    opacity: 0.75;
}

.upper-panel .mood-wlcm #three span {
    color: #FF516D;
}

.upper-panel .mood-wlcm p {
    font-weight: 700;
    font-size: 4.2rem;
}

.recomm-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    z-index: 999;
}

.recomm-area #recomm-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.recomm-area .recomm-songs {
    width: 100%;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1a1a29;
    border-radius: 1rem;
    border-top-left-radius: 0;
    gap: 0.5rem;
}

.recomm-songs .song {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.75rem;
    background: #151521;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
}

.song .song-album-cover {
    width: 180px;
    height: 180px;
    /* overflow: hidden; */
    border-radius: 0.5rem;
}

.song-album-cover img {
    /* transform: translateX(-10px) translateY(-15px); */
    width: 100%;
    height: 100%;

}

.song-name {
    font-size: 1rem;
    font-weight: 500;
}

.song-artist {
    font-size: 0.85rem;
    font-weight: normal;
    opacity: 0.7;
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

.recomm-songs .song:hover {
    background: #fb8b9e;
    box-shadow: 0 0 10px 10px #ff516e22;
}

.recomm-songs .song:hover #song-artist {
    opacity: 1;
}

.song .play {
    position: absolute;
    right: 6%;
    bottom: 5%;
    border-radius: 50%;
    background: #FF516D;
    /* padding: 0.85rem 0.975rem; */
    height: 45px;
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 5px #ffffff11;
    transform: translateY(100px);
    transition: all 0.3s ease;
    opacity: 0;
}

.song .play i {
    font-size: 1.2rem;
    pointer-events: none;
}

.recomm-songs .song:hover .play {
    opacity: 1;
    transform: translateY(0px);
}

.audio-player-bar {
    z-index: 100;
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    background-color: #151521;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-info {
    padding: 1rem;
    position: absolute;
    left: 0;
}

#song-name {
    margin-bottom: 5px;
}